In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df1 = pd.read_csv('01_pedidosnovo.csv', dayfirst=True)

df1.head()

,Unnamed: 0,DataPedido,Regiao,Estado,Vendedor,Item,Unidades,PrecoUnidade
0,0,2016-06-07,Nordeste,Pernambuco,Tobias,Geladeira,62,400.99
1,1,2016-07-11,Nordeste,Paraíba,Nadia,Microondas,29,100.99
2,2,2016-07-20,Sudeste,Minas Gerais,Carlos,Geladeira,55,1200.49
3,3,2016-07-19,Nordeste,Bahia,Tania,Microondas,81,1900.99
4,4,2016-08-16,Sudeste,Rio de Janeiro,Pedro,Geladeira,42,2300.95

In [3]:
df1.rename(columns={'Unidades':'Uni','PrecoUnidade':'PreUni'}, inplace=True)

In [4]:
df1.head()

,Unnamed: 0,DataPedido,Regiao,Estado,Vendedor,Item,Uni,PreUni
0,0,2016-06-07,Nordeste,Pernambuco,Tobias,Geladeira,62,400.99
1,1,2016-07-11,Nordeste,Paraíba,Nadia,Microondas,29,100.99
2,2,2016-07-20,Sudeste,Minas Gerais,Carlos,Geladeira,55,1200.49
3,3,2016-07-19,Nordeste,Bahia,Tania,Microondas,81,1900.99
4,4,2016-08-16,Sudeste,Rio de Janeiro,Pedro,Geladeira,42,2300.95

In [5]:
df1.loc[2, 'Estado']

'Minas Gerais'

In [7]:
df1.iloc[2, 5]

'Geladeira'