In [1]:
import pandas as pd
import numpy as np

base = pd.read_csv('credit_data.csv')

In [2]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   i#clientid  2000 non-null   int64
 1   income      2000 non-null   float64
 2   age         1997 non-null   float64
 3   loan        2000 non-null   float64
 4   c#default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [3]:
base.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [4]:
base.loc[base['age'] < 0]

    i#clientid        income        age         loan  c#default
15          16  50501.726689 -28.218361  3977.287432          0
21          22  32197.620701 -52.423280  4244.057136          0
26          27  63287.038908 -36.496976  9595.286289          0

In [5]:
# apagar a coluna
base.drop('age', 1, inplace=True)

In [6]:
base.describe()

        i#clientid        income          loan    c#default
count  2000.000000   2000.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018   4444.369695     0.141500
std     577.494589  14326.327119   3045.410024     0.348624
min       1.000000  20014.489470      1.377630     0.000000
25%     500.750000  32796.459717   1939.708847     0.000000
50%    1000.500000  45789.117313   3974.719419     0.000000
75%    1500.250000  57791.281668   6432.410625     0.000000
max    2000.000000  69995.685578  13766.051239     1.000000

In [7]:
# apagar somente os registros com problema
base.drop(base[base.age < 0].index, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'age'

In [8]:
# preencher os valores manualmente
# preencher os valores com a média
base.mean()
base['age'].mean()
base['age'][base.age > 0].mean()
base.loc[base.age < 0, 'age'] = 40.92
base

KeyError: 'age'

In [9]:
base.describe()

        i#clientid        income          loan    c#default
count  2000.000000   2000.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018   4444.369695     0.141500
std     577.494589  14326.327119   3045.410024     0.348624
min       1.000000  20014.489470      1.377630     0.000000
25%     500.750000  32796.459717   1939.708847     0.000000
50%    1000.500000  45789.117313   3974.719419     0.000000
75%    1500.250000  57791.281668   6432.410625     0.000000
max    2000.000000  69995.685578  13766.051239     1.000000

In [10]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   i#clientid  2000 non-null   int64
 1   income      2000 non-null   float64
 2   loan        2000 non-null   float64
 3   c#default   2000 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 62.6 KB

In [11]:
base['age'] < 0

KeyError: 'age'