In [4]:
import pandas as pd
import numpy as np
base = pd.read_csv('credit_data.csv')
base.describe()
base.loc[base['age'] < 0]

    i#clientid        income        age         loan  c#default
15          16  50501.726689 -28.218361  3977.287432          0
21          22  32197.620701 -52.423280  4244.057136          0
26          27  63287.038908 -36.496976  9595.286289          0

In [2]:

# apagar a coluna
base.drop('age', 1, inplace=True)

In [5]:
# apagar somente os registros com problema
base.drop(base[base.age < 0].index, inplace=True)